<%= form_with model: menu do |f| %>
  <div class="mb-3">
    <%= f.label :メニュー名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :材料 %>
    <%= f.text_area :material, class: 'form-control', rows: 8 %>
  </div>
  <div class="mb-3">
    <%= f.label :作り方 %>
    <%= f.text_area :make, class: 'form-control', rows: 8 %>
  </div>
  <div class="mb-3">
    <%= f.label :ポイント %>
    <%= f.text_area :point, class: 'form-control', rows: 8 %>
  </div>



  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :サムネイル %>
    <%= f.file_field :thumbnail, class: 'form-control js-file-select-preview mb-3', accept: 'image/*', data: { target: '#preview-target' } %>
    <%= image_tag @menu.decorate.thumbnail, id: 'preview-target', class: 'w-50 border' %>
  </div>
  <%= link_to '戻る', menus_path, class: 'btn btn-primary ml-2' %>
  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>
