<%= javascript_include_tag 'menus' %>

<%= form_with model: menu do |f| %>
  <div class="mb-3">
    <%= f.label :メニュー名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :材料 %>
    <%= f.text_area :material, class: 'form-control', rows: 8 %>
  </div>
  <div class="mb-3">
    <%= f.label :作り方 %>
    <%= f.text_area :make, class: 'form-control', rows: 8 %>
  </div>
  <div class="mb-3">
    <%= f.label :ポイント %>
    <%= f.text_area :point, class: 'form-control', rows: 8 %>
  </div>

  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :サムネイル %>
    <%= f.file_field :menu_image, class: 'form-control', accept: 'image/*', onchange: "previewImage(this);" %>
  </div>

  <div class="menu-image-prev">
    <% if f.object.menu_image.present? %>
      <%= image_tag f.object.menu_image.thumb.url, alt: "menu-image", id: "img_prev", size: "300x105" %>
    <% else %>
      <%= image_tag "menu-default-image.png", alt: "menu-image", id: :img_prev, size: "300x105" %>
    <% end %>
  </div>

  <%= link_to '戻る', menus_path, class: 'btn btn-primary ml-2' %>
  <%= f.submit '登録', class: 'btn btn-primary' %>

<% end %>