<div class="col">
  <div class="card p-3 h-100">
    <%= link_to menu_path(menu), class: 'menu-card', style: 'text-decoration: none; color: inherit;' do %>
      <h4 class="card-title fw-bold">
        <%= menu.name %>
      </h4>

      <!-- 画像がある場合は以下のように表示 -->
      <div class="menu-content-container">
        <div class="menu-image">
          <% if menu.menu_image.present? %>
            <%= image_tag menu.menu_image.url, alt: 'Menu Image', class: 'img-menu_image', style: 'max-width: 100%;' %>
          <% else %>
            画像なし
          <% end %>
        </div>
      </div>
    <% end %>
    <hr />
      <!-- ここに@menuの内容を表示するコードを追加 -->
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <% if menu.user.present? %>
              <p class="card-text"><%= menu.user.name %></p>
            <% else %>
              <p class="card-text">Unknown User</p>
            <% end %>
          </div>

          <% if current_user && current_user.own?(menu) %>
            <%= render 'menus/favorite_button', menu: menu %>
          <% else %>
            <%= render 'menus/favorite_button', menu: menu %>
          <% end %>

        </div>
      </div>
  </div>
</div>
