<div class="col">
  <div class="card h-100">
    <%= link_to menu_path(menu), class: 'menu-card' do %>
      <!-- 画像がある場合は以下のように表示 -->
      <div class="menu-content-container">
        <div class="menu-image">
          <% if menu.menu_image.present? %>
            <%= image_tag menu.menu_image.url, alt: 'Menu Image', class: 'img-thumbnail' %>
          <% else %>
            画像なし
          <% end %>
        </div>
      </div>
    <% end %>
    <hr />
      <!-- ここに@menuの内容を表示するコードを追加 -->
      <div class="card-body">
        <h4 class="card-title fw-bold">
          <%= menu.name %>
        </h4>
        <p class="card-text"><%= menu.material %></p>
        <p class="card-text"><%= menu.point %></p>
        <hr />
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <p class="card-text"><%= menu.user.name %></p>
          </div>
          <%= render 'favorites/favorite', menu: menu %>
        </div>
      </div>
  </div>
</div>