<div class="row">
  <div class="col-md-12 mb-3 text-center">
    <%= link_to menu_path(menu), class: 'menu-card' do %>
      <!-- 画像がある場合は以下のように表示 -->
      <div class="menu-content-container">
        <div class="menu-image">
          <% if menu.menu_image.present? %>
            <%= image_tag menu.menu_image.url, alt: 'Menu Image', class: 'img-thumbnail' %>
          <% else %>
            画像なし
          <% end %>
        </div>      
        <!-- ここに@menuの内容を表示するコードを追加 -->
        <div class="menu-container">
          <h4>メニュー名</h4>
            <%= menu.name %>
            <%= render 'favorites/favorite', menu: menu, class: 'favorite-button' %>
          <h4>材料</h4>
            <%= menu.material %>
          <h4>ポイント</h4>
            <%= menu.point %>
        </div>
      </div>
    <% end %>
  </div>
</div>