<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @menu.material %>
</p>

<p>
  <strong>Make:</strong>
  <%= @menu.make %>
</p>

<p>
  <strong>Point:</strong>
  <%= @menu.point %>
</p>


<%= link_to 'Destroy', @menu, method: :delete, data: { confirm: 'Are you sure?' } %>
<!-- ↑ここまで一覧から引っ越しした↑ -->
<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
