<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h1>
            <%= @menu.name %>
          </h1>
          <div>
            <%= image_tag @menu.menu_image.url, class: 'w-100 mb-3' %>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <i class="bi bi-info-circle"></i>
              材料
            </div>
            <div class="card-body">
              <%= simple_format @menu.material %>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <i class="bi bi-info-circle"></i>
              作り方
            </div>
            <div class="card-body">
              <%= simple_format @menu.make %>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <i class="bi bi-info-circle"></i>
              ポイント
            </div>
            <div class="card-body">
              <%= simple_format @menu.point %>
            </div>
          </div>
            
          <% if current_user&.mine?(@menu) %>
            <%= link_to 'Destroy', @menu, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', edit_menu_path(@menu) %>
          <% end %>
          <%= link_to 'Back', menus_path %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="bi bi-person"></i>
          メニュー作成者
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center gap-3 mb-3">
            <%= @menu.user.name %>
          </div>
          <div class="p-3 bg-light">
            メニュー作成
            <%= @menu.user.menus.size %>
            回
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
