<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h1>
            <%= @menu.name %>
          </h1>
          <div>
            <%= image_tag @menu.menu_image.url, class: 'w-100 mb-3' %>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <i class="bi bi-info-circle"></i>
              材料
            </div>
            <div class="card-body">
              <%= Rinku.auto_link(simple_format(@menu.material), :all, 'target="_blank"').html_safe %>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <i class="bi bi-info-circle"></i>
              作り方
            </div>
            <div class="card-body">
              <%= Rinku.auto_link(simple_format(@menu.make), :all, 'target="_blank"').html_safe %>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <i class="bi bi-info-circle"></i>
              ポイント
            </div>
            <div class="card-body">
              <%= Rinku.auto_link(simple_format(@menu.point), :all, 'target="_blank"').html_safe %>
            </div>
          </div>
            
          <% if current_user&.own?(@menu) %>
            <%= link_to '削除', menu_path(@menu.id), method: :delete, class: 'btn btn-primary ml-2', data: { confirm: '本当に削除しますか？' } %>
            <%= link_to '編集', edit_menu_path(@menu), class: 'btn btn-primary ml-2' %>
          <% end %>
          <%= link_to '戻る', menus_path, class: 'btn btn-primary ml-2' %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="bi bi-person"></i>
          メニュー作成者
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center gap-3 mb-3">
            <%= @menu.user.name %>
          </div>
          <div class="p-3 bg-light">
            メニュー作成
            <%= @menu.user.menus.size %>
            回
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
