<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h1>
            <%= @menu.name %>
          </h1>

          <div class="row">
            <!-- 画像を表示 -->
            <div class="col-md-6">
              <%= image_tag @menu.menu_image.url, class: 'w-100 mb-3' %>
            </div>

            <!-- 材料と分量のリストを表示 -->
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="card-header">
                  材料と分量
                </div>
                <ul class="list-group list-group-flush">
                  <% @menu.material.each_with_index do |material, index| %>
                    <li class="list-group-item d-flex justify-content-between">
                      <span><%= material %></span>
                      <span><%= @menu.quantity[index] %></span>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              作り方
            </div>
            <div class="card-body">
              <% @menu.make.each_with_index do |step, index| %>
                <div class="card mb-3">
                  <div class="card-header">
                    ステップ<%= index + 1 %>
                  </div>
                  <div class="card-body">
                    <p><%= step %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              ポイント
            </div>
            <div class="card-body">
              <%= Rinku.auto_link(simple_format(@menu.point), :all, 'target="_blank"').html_safe %>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              カレーのジャンル
            </div>
            <div class="card-body">
              <%= @menu.genre %>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              辛さレベル
            </div>
            <div class="card-body">
              <%= @menu.hot %>
            </div>
          </div>

          <% if current_user&.own?(@menu) %>
            <%= link_to '削除', menu_path(@menu.id), method: :delete, class: 'btn btn-primary ml-2', data: { confirm: '本当に削除しますか？' } %>
            <%= link_to '編集', edit_menu_path(@menu), class: 'btn btn-primary ml-2' %>
          <% end %>
          <%= link_to '戻る', menus_path, class: 'btn btn-primary ml-2' %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="bi bi-person"></i>
          メニュー作成者
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center gap-3 mb-3">
            <%= @menu.user.name %>
          </div>
          <div class="p-3 bg-light">
            メニュー作成
            <%= @menu.user.menus.size %>
            回
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
