<div class="container d-flex justify-content-center align-items-center" style="height: 73vh;">
<div class="card"  style="width: 400px;">
  <div class="card-header">
    新規登録
  </div>
    <div class="card-body">
      <%= form_with model: @user do |f| %>
    <div class="mb-3">
      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  <div>
    <%= f.submit '登録', class: 'btn btn-primary' %>
  </div>

  <div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- Googleログインボタンの表示  -->
    <div id="g_id_onload"
      data-client_id="212565794221-0799kda9o36nic7us68lel6etq4aps6v.apps.googleusercontent.com"
      data-login_uri="https://www.curry-web.com//google_login_api/callback"
      data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left">
    </div>
  </div>

<% end %>
</div>
</div>
</div>
