<%= stylesheet_link_tag 'custom_styles', media: 'all' %>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="/">CurryWeb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user.present? %>
        <span class="nav-link"><%= current_user.name %></span>
      <% else %>
        ゲスト
      <% end %>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <%= render 'shared/search', q: @q, url: menus_path %>
        <% if current_user.present? %>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to user_path(current_user), class: 'nav-link small-text custom-padding-link' do %>
              <i class="bi bi-person-square"></i>
              <span>マイページ</span>
            <% end %>
          </li>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to favorites_user_path(current_user), class: 'nav-link small-text custom-padding-link' do %>
              <i class="bi bi-star"></i>
              <span>いいね一覧</span>
            <% end %>
          </li>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to menus_path, class: 'nav-link small-text custom-padding-link' do %>
              <i class="bi bi-window"></i>
              <span>投稿一覧</span>
            <% end %>
          </li>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to new_menu_path, class: 'nav-link small-text custom-padding-link' do %>
              <i class="bi bi-window-plus"></i>
              <span>投稿作成</span>
            <% end %>
          </li>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to logout_path, method: :delete, class: 'nav-link small-text custom-padding-link', data: { confirm: 'ログアウトします' } do %>
              <i class="bi bi-box-arrow-right"></i>
              <span>ログアウト</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to menus_path, class: 'nav-link small-text custom-padding-link' do %>
              <i class="bi bi-window"></i>
              <span>投稿一覧</span>
            <% end %>
          </li>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to new_user_path, class: 'nav-link small-text custom-padding-link' do %>
              <i class="bi bi-person-plus"></i>
              <span>登録</span>
            <% end %>
          </li>
          <li class="nav-item d-flex flex-column align-items-center">
            <%= link_to new_session_path, class: 'nav-link small-text custom-padding-link' do %>
              <i class="bi bi-box-arrow-in-left"></i>
              <span>ログイン</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>